<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css"/>
    <title>To do List</title>
</head>

<body>

    <div class="container-sm box">
        <div class="date mx-auto">
            <%=date%> 
        </div>
       
        <div class="card mx-auto">
            <div class="card-content">
                <p id="content-title">To do List:</p>
                <ul class="list-group">
                <% for (var i = 0; i <items.length; i++) { %>
                  <% if(items.length==1){ %>
                    <li class="list-group-item" id="singleton-list">
                  <% } else if(i===0){ %>
                    <li class="list-group-item" id="top-list">
                    
                  <% } else if(i===items.length-1){ %>
                    <li class="list-group-item" id="bottom-list">
                  <% } else{ %>
                    <li class="list-group-item">
                  <% } %>
                        <input class="form-check-input me-2 ms-1" type="checkbox" value="" aria-label="...">
                        <span><%= items[i] %></span>
                    </li>
                <% } %>
                </ul>
                <div class="add-item">
                    <form action="/" method="post"  autocomplete="off">
                        <label for="inp" class="inp">
                            <input type="text" id="inp" placeholder="Add a task" pattern=".{6,}" required name="item">
                        </label>
                        <button class="btn btn-primary" id="submit-btn" name="submit" type="submit">+</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>  
</body>

</html>