@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Arimo&family=Montserrat:wght@300;400;900&family=Poppins:wght@300&family=Ubuntu:wght@300&display=swap');


body{
    background-color:#F9F2ED;
}

.box{
    margin-top:3rem;
    display:block;
    max-width:50rem;
    border:2px solid #3AB0FF;
    border-radius:0.7rem;
    padding:1rem;
}
.date{
    margin-top:1.5rem;
    background-color:#FFB562;
    border-radius:1rem;
    height:6rem;
    width: 26rem;
    font-family:'Poppins';
    font-size:3rem;
    color: #F9F2ED;
    padding:0.7rem;
    display:flex;
    justify-content:center;
    align-items:center;
}
.card{
    margin-top:2rem;
    margin-bottom:2rem;
    max-width:31rem;
    padding-top:2rem;
    background-color:#F9F2ED;
    border:none;
}
.card-content{
    background-color:#F87474;
    border-radius:1rem;
    padding:0.5rem;
}
.list-group{
    padding:0.5rem;
    background-color:#F87474;
}
.form-check-input:checked + span{
    color:#712323;
}
.list-group-item{
    background-color:#F87474;
    border-bottom:0;
    border-top:0;
    color:#eae0d7;
    font-size:1.4rem;
    font-family:'Ubuntu';
    padding:0.6rem;
    padding-bottom:0.9rem;
}
#content-title{
    color:#F9F2ED;
    font-family:'Poppins';
    font-size: 1.5rem;
    margin:0.6rem;
}
.add-item{
    display:grid;
}

.inp {
    position: relative;
    margin: auto;
    margin-left:1rem;
    width: 100%;
    max-width: 280px;
    height: 53px;
    box-sizing: border-box;
    font-family: 'Poppins';
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    padding:0.8rem 0.5rem 0rem 0rem;
    border-bottom:1px solid #F9F2ED
}

.inp input {
  -webkit-appearance: none;
  border: 0;
  font-family: inherit;
  padding: 0;
  height: 48px;
  font-size: 1.2rem;
  font-weight: 500;
  background: none;
  border-radius: 0;
  color: #F9F2ED;
  transition: all 0.15s ease;
}
.inp input:focus {
  outline: none;
}
.inp input:focus {
  stroke: #07f;
}
.inp input:valid {
  animation: elasticInput 0.8s ease forwards;
}
.inp input:valid {
  transform: translate(0, 0) scale(1);
}
::placeholder {
  color: #f8f6f4b8;
  font-size:1.2rem;
}
.btn{
    margin-bottom:2rem;
    margin-left:65px;
    margin-right:5%;
    margin-top:1rem;
    border-radius:50%;
    background: transparent;
    border-color:#F9F2ED;
    font-size:1rem;
    --bs-btn-hover-color: #F9F2ED;
    --bs-btn-hover-bg: #712323;
    --bs-btn-hover-border-color: #F9F2ED;
}
#top-list{
    border-top:var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
}
#bottom-list{
    border-bottom:var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
}
.form-check-input{
    background-color:#F87474;
    border:1px solid #FFFFFF;
}
.form-check-input:hover{
    background-color:#F87474;
    border:1px solid #FFFFFF;
    box-shadow:none !important;
}
.form-check-input:checked{
    background-color:#F87474;
    border:1px solid #FFFFFF;
    box-shadow:none !important;
}
.form-check-input:focus{
    background-color:#F87474;
    border:1px solid #FFFFFF;
    box-shadow:none !important;
}
@keyframes fadeIt {
    0%   { background-color: #F9F2ED; }
    100% { background-color: #FFFFFF; }
}
@media (max-width: 520px){
    .btn{
        margin-left:12%;
    }
}
